{% extends 'base.html.twig'%}

{% block main %}
    <h1> {{ menu.id.titre }} </h1>
    <h2>Entrées</h2>
        <ul>
            <li>{{ menu.idMet }}</li>
            <li></li>
            <li></li>
        </ul>
    <h2>Plats</h2>
    <h2>Desserts</h2>
{% endblock %}