@font-face {
    font-family: "Tangerine-regular";
    src: url("../font/Tangerine/Tangerine-Regular.ttf");
}
@font-face {
    font-family: "Tangerine-bold";
    src: url("../font/Tangerine/Tangerine-bold.ttf");
}

@keyframes line {
    from {
        width: 0%;
    }
    to {
        width: 12%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, white, silver);
}

/*Zone connexion Admin */

.text {
    text-align: center;
    margin-top: 20px;
}
.logoIcone {
    width: 130px;
    height: 170px;
    margin-left: 40%;
}

.blocForm {
    width: 100%;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 6px 6px 10px black ;
    margin: auto;
}
.champsForm{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.connect {
    width: max-content;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    font-weight: bold;
    padding: 3%;
    border-radius: 20px;
    border-color: silver;
    background-color: limegreen;
    color: white;
}
.connect:hover{
    background-color: green;
    color: white;
}

.register {
    width: 50%;
}
.champsForm2 {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

/* Zone dashboard */

.bandeau {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBarAdmin{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    border-right: 1px solid black;
    background-color: whitesmoke;
}

.dashboard {
    position: fixed;
    width: 100%;
}

.content {
    display: flex;
    flex-flow: wrap row;
    max-width: 500px;
    position: relative;
    left: 21%;
}

.onglet {
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
    padding: 3%;
}
.onglet:hover{
    border: 1px solid silver;
    background-color: ghostwhite;
}

.blocAdmin {
    display: inline-flex;
    flex-flow: row wrap;
    width: 22%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2%;
    background-color: ghostwhite;
    margin: 2%;
}

/* zone front */

.logoIconeMenu {
    width: 20vw;
    height: 55vh;
}

.surligne {
    font-family: Tangerine-regular, Arial, sans-serif;
    font-size: 50px;
    background-color: black;
    border-radius: 15px;
    color: white;
    margin: 20px auto 30px auto;
    width: 40vw;
    padding: 10px 15px;
}

.slider {
    width: 80%;
    margin: auto;
}
.carousel-inner {
    border-radius: 50px;
    height: 45vh;
}

.carousel img {
    position: absolute;
    top: -100px;
    object-fit: cover;
}

.navBar {
    display: block;
    text-align: center;
    height: 300px;
}


.btn_menu {
    border: 1px solid limegreen;
    background-color: limegreen;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    margin-right: 5vw;
    margin-left: 5vw;
}

.btn_menu:hover {
    border: 1px solid silver;
    background-color: green;
    color: white;
    font-size: 30px;
}

.text_front {
    font-family: Tangerine-regular, Arial, sans-serif;
    font-size: 25px;
}
.size {
    font-size: 50px;
}

span.line::after {
    content: "";
    background-color: limegreen;
    width: 12%;
    height: 2.5%;
    margin-left: 50%;
    display: block;

    position: absolute;
    bottom: -16.3%;
    z-index: -1;
    transform: translateX(-50%);
}

span.line:hover::after {
    animation: line 1s 0s;
    width: 12%;
}

.container {
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.bloc_home {
    width: 32%;
    height: 450px;
    border: 1px solid silver;
    border-radius: 30px;
    margin-top: 30px;
    background-color: whitesmoke;
    z-index: 0;
    box-shadow: 2px 0 20px black;
}

span.line_1::after {
    content: "";
    background-color: limegreen;
    width: 12%;
    height: 2.5%;
    margin-left: 12%;
    display: block;

    position: absolute;
    bottom: -30.8%;
    z-index: -1;
    transform: translateX(-50%);
}

span.line_1:hover::after {
    animation: line 1s 0s;
    width: 12%;
}

span.line_2::after {
    content: "";
    background-color: limegreen;
    width: 12%;
    height: 2.5%;
    margin-left: 12%;
    display: block;

    position: absolute;
    bottom: -30.8%;
    z-index: -1;
    transform: translateX(-50%);
}

span.line_2:hover::after {
    animation: line 1s 0s;
    width: 12%;
}

span.line_3::after {
    content: "";
    background-color: limegreen;
    width: 12%;
    height: 2.5%;
    margin-left: 12%;
    display: block;

    position: absolute;
    bottom: -30.8%;
    z-index: -1;
    transform: translateX(-50%);
}

span.line_3:hover::after {
    animation: line 1s 0s;
    width: 12%;
}

.content_article {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    object-fit: cover;
    box-shadow: 2px 0 20px black;
}

.text_box {
    font-family: Tangerine-regular, arial, sans-serif;
    font-size: 25px;
    text-align: justify;
    padding: 3%;
}

strong {
    color: limegreen;
    font-size: 28px;
    padding-left: 50px;
}

/* zone footer */

.content_footer {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.box_footer {
    margin: 30px 20px;
}

.text_footer {
    font-family: Tangerine-bold, "Arial Black", sans-serif;
    font-size: xx-large;
    color: white;
    text-decoration: none;
}
h4::after {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 3px;
    background-color: limegreen;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;

}
h4:hover::after {
    transform: scale(1);
}

.text_footer2 {
    font-family: Tangerine-bold, "Arial Black", sans-serif;
    font-size: x-large;
    color: white;
}